# Virtual environment
.env-medai

# Python cached files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.env.local

# ets
models/
mlflow.db